<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>¡FELIZ CUMPLEAÑOS RUTHY!</h1>

    <div class="cajas-container">
        {% if cajas %}
            {% for caja in cajas %}
            <div class="caja" data-caja-id="{{ caja.id }}" data-pista="{{ caja.pista }}">
                {% if caja.abierta %}
                    <img src="{{ url_for('static', filename='img/caja_abierta.png') }}" alt="{{ caja.nombre }}">
                {% else %}
                    <img src="{{ url_for('static', filename='img/caja.png') }}" alt="{{ caja.nombre }}">
                {% endif %}
                <h3>{{ caja.nombre }}</h3>
                <p>{{ caja.descripcion }}</p>
            </div>            
            {% endfor %}
        {% else %}
            <p>No se encontraron cajas</p>
        {% endif %}
    </div>
    

    <div id="passwordModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>¡Que el Erdtree te guíe en esta trivialidad!</h2>
            <form id="passwordForm" method="POST">
                <label for="password">Contraseña:</label>
                <input type="password" id="contrasenya" name="contrasenya" required>
                <button type="submit">Abrir Caja</button>
            </form>
        </div>
    </div>

    <div id="rewardModal" class="modal">
        <div class="modal-content">
            <span class="reward-close">&times;</span>
            <img id="rewardImage" src="" alt="Imagen del Regalo">
        </div>
    </div>    

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>
